.input, .input--checkgroup {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  padding-bottom: @paddingSmall;

  & > * {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
  }
  & > label:not(.icon) {
    width: 100%;
    &:first-child {
      margin-top: round(@padding / 4);
      margin-bottom: round(@padding / 4);
    }
    &.error {
      margin-top: round(@padding / 4);
      color: @colorRed;
      .fs-s;
    }
  }
  & > .check {

  }
  & > *:not(.icon):not(.mi):not(.btn--icon):not(.btn) {
    flex-grow: 1;
    flex-shrink: 1;
  }
  & > input, & > .select, & > textarea {
    width: 1px;
  }

}

label {
  &.required {
    position: relative;
    &:after {
      content: "*";
      margin-left: @paddingSmall;
      opacity: 0.7;
      .bold;
    }
  }
}

input, .select, textarea, .input__file__dropzone {
  .item--border;
  min-height: @basicWidgetSize;
  .fs-m;
  padding-left: @paddingSmall;
  .softBorder();
  font-weight: 200;
  line-height: @lineHeight;
  &.error {
    border-color: @colorRed;
  }
  &[readonly]:not([readonly=false]) {
    border-color: fadeout(color(@colorBorderDefault), 70%);
    box-shadow: none;
  }
  &[disabled]:not([disabled=false]) {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

input, textarea, .input__file__dropzone {
  box-shadow: inset 1px 2px 2px rgba(0,0,0,0.1); // maybe?
  padding-right: @paddingSmall;
}

textarea {
  min-height: 4em * @lineHeight;
}

.select {
  position: relative;
  padding-right: @basicWidgetSize;
  background-color: @colorBackgroundDefault;
  color: @colorTextDefault;
  box-shadow: inset -1px -1px 1px rgba(0, 0, 0, 0.1); // maybe?
  &.open:not(.open--up) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  &.open.open--up {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  & > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
  }
  &:after {
    .icon;
    content: "arrow_drop_down";
    position: absolute;
    top: 0;
    right: 0;
  }
  &[readonly]:not([readonly=false]):after {
    content: '';
  }
  &.open--up {
    .select__dropdown {
      top: auto;
      bottom: 100%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: @borderRadius;
      border-top-right-radius: @borderRadius;
    }
  }
  .input {
    padding: @padding / 4;
    border-bottom: 1px solid lighten(color(@colorBorderDefault), 20%);
  }
}
.select__dropdown {
  position: absolute;
  top: calc( ~"100%");
  left: -1px;
  width: calc(~"100% + 2px");
  max-width: 30em;
  min-width: 20em;
  .shadow;
  z-index: 100;
  background-color: white;
  .border;
  .softBorder();
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: inherit;
  & > ul, .select__items {
    z-index: 5;
    max-height: 25em;
    overflow-y: scroll;
    .ul--flat;
    li, .item {
      .renderItem;
      display: block;
      border-bottom: 1px solid lighten(color(@colorBorderDefault), 20%);
      &:last-child {
        border: none;
      }
    }
  }
}

.check {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  & > input[type=checkbox], & > input[type=radio] {
    opacity: 0.01;
    width: 1px;
    overflow: hidden;
    &:focus {
      outline: none !important;
      & + label {
        .focusOutline();
      }
    }
    & + label {
      .renderItem;
      padding-left: @basicWidgetSize;
      min-height: @basicWidgetSize;
      margin-bottom: 0;

      &:before {
        position: absolute;
        left:0;
        top:0;
        .icon;
        content: 'check_box_outline_blank';
      }
    }
    &:checked + label {
      &:before {
        content: 'check_box';
      }
    }
  }
  & > input[type=radio] {
    & + label:before {
      content: 'radio_button_unchecked';
    }
    &:checked + label:before {
      content: 'radio_button_checked';
    }
  }
}
.input--checkgroup {
  display: block;
  & > * {
    display: block;
  }
}

form .row, form.row {
  & > label {
    padding-top: @basicWidgetPadding;
    padding-bottom: @basicWidgetPadding;
    margin: 0;
  }
}
.input__file {
  .flex--row;
  .flex--grow;
  .flex--shrink;
  flex-basis: 1px;
  width: 1px;
  max-width: 100%;
}
.input__file__dropzone {
  color: lighten(color(@colorTextDefault), 50%);
  margin-right: @paddingSmall;
  flex-grow: 1;
  flex-shrink: 1;
  white-space: nowrap;
  overflow: hidden;
  max-height: @basicWidgetSize;
  text-overflow: ellipsis;
  &.drag--here {
    .focusOutline();
  }
}
.input__file__browse {
  .btn;
  position: relative;
  flex-grow: 0 !important;
  flex-shrink: 0;
  overflow: hidden;
  input {
    display: block;
    overflow: hidden;
    opacity: 0.01;
    position: absolute;
    .fit;
  }
}