.renderMenuItem(@height) {
  .renderComponentWithoutBorder(@height, @lineHeight);
  padding-left: @padding;
  padding-right: @padding;
}

.renderMenuIcons() {
  &.menu--icons {
    & > li > *:not(.icon):not(.icon--round):not(.mi) {
      padding-left: @baseWidgetHeight;
    }
    & > li > * {
      & > .icon, & > .icon--round, & > .mi {
        .fs-xxl;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  &.menu--icons--suffix {
    & > li > *:not(.icon):not(.icon--round):not(.mi) {
      padding-right: @baseWidgetHeight;
    }
    & > li > * {
      & > .icon, & > .icon--round, & > .mi {
        .fs-xxl;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
  &.menu--icons--suffix.menu--icons {
    & > li > * {
      & > .icon, & > .icon--round, & > .mi {
        left: 0;
      }
      & > .icon + .icon, & > .icon--round + .icon--round, & > .mi + .mi {
        left:auto;
        right:0;
      }
    }
  }
}

.menu() {
  padding:0;
  margin-bottom: 0;
  list-style: none;
  .renderMenuIcons();
  & > li {
    position: relative;
    & > * {
      &:not(.icon):not(.icon--round):not(.mi) {
        .renderMenuItem(@baseWidgetHeight);
        display: block;
        .navbar > & {
          .renderMenuItem(@navbarHeight);
        }
      }
    }
  }
}

.menu--horizontal {
  .flex-row;
  .menu();
}

.menu--vertical {
  .menu();
  .renderMenuColors(@colorBackgroundDefault, 0);
}

@keyframes menuTolerance {
  0% {
    width: 20em;
  }
  50% {
    width: 20em;
  }
  100% {
    width: 1em;
  }
}

.dropDownMenuVertical() {
  position: relative;
  & > .menu--vertical {
    .shadow--big;
    .softBorder();
    display: none !important;
    position: absolute;
    top: 0;
    left: 100%;
    padding: 0 !important;
    z-index: 100;
    min-width: 20em;
  }
  &:hover {
    & > .menu--vertical {
      display: block !important;
      &:before {
        position: absolute;
        right: 100%;
        top: 0;
        bottom: 0;
        display: block;
        content: " ";
        width: 1em;
        animation: menuTolerance 1.2s;
      }
    }
  }
}

.menu--vertical > li, .menu--horizontal > li, .dropdown__container {
  .dropDownMenuVertical();
}
.menu--vertical .menu--vertical {
  border-top-left-radius: 0 !important;
}
.menu--horizontal {
  & > li {
    & > .menu--vertical {
      top: 100%;
      left: 0;
    }
  }
}
.dropdown__container {
  & > .menu--vertical {
    top: 100%;
    left: 0;
  }
}

.dropdown__container {
  display: inline-block;
}
