/*
.renderMenuItem(@height) {
  .renderComponentWithoutBorder(@height, @absoluteLineHeight);
  padding-left: @padding;
  padding-right: @padding;
  margin:0;
}

.renderMenuIcons() {
  &.menu--icons {
    & > li > *:not(.icon):not(.icon--round):not(.mi) {
      padding-left: @baseWidgetHeight;
    }
    & > li > * {
      & > .icon, & > .icon--round, & > .mi {
        .fs-xxl;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  &.menu--icons--suffix {
    & > li > *:not(.icon):not(.icon--round):not(.mi) {
      padding-right: @baseWidgetHeight;
    }
    & > li > * {
      & > .icon, & > .icon--round, & > .mi {
        .fs-xxl;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
  &.menu--icons--suffix.menu--icons {
    & > li > * {
      & > .icon, & > .icon--round, & > .mi {
        left: 0;
      }
      & > .icon + .icon, & > .icon--round + .icon--round, & > .mi + .mi {
        left:auto;
        right:0;
      }
    }
  }
}
*/

.menu() {
  padding:0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
  & > li {
    .renderItem();
    position: relative;
    display: block;
  }
  .item {
    position: relative;
    display: block;
  }
  & > li, .item {
    padding-left: @padding;
    padding-right: @padding;
    &.tab--active {
      border-bottom: round(@basicWidgetPadding/3) solid grey;
      padding-bottom: @basicWidgetPadding - round(@basicWidgetPadding/3);
    }
  }
  & > li {
    .renderItemIcons();
  }
}

.menu--horizontal {
  .flex--row;
  .menu();
}

.menu--vertical {
  .menu();
  .renderMenuColors(@colorBackgroundDefault, 0);
}

@keyframes menuTolerance {
  0% {
    width: 5%;
  }
  29% {
    width: 5%;
  }
  30% {
    width: 90%;
  }
  100% {
    width: 5%;
  }
}

.dropDownMenuVertical() {
  position: relative;
  & > .menu--vertical {
    .shadow--big;
    .softBorder();
    display: none !important;
    position: absolute;
    top: 0;
    left: 100%;
    padding: 0 !important;
    z-index: 100;
    min-width: 20em;
    &.open--up {
      top: auto;
      bottom: 0;
    }
    &.open--left {
      top: 100%;
      left: auto;
      right: 0;
    }
  }
  &:hover {
    z-index: 100;
    & > .menu--vertical {
      display: block !important;
      &:before {
        position: absolute;
        right: 100%;
        top: 0;
        bottom: 0;
        display: block;
        content: " ";
        width: 5%;
        animation: menuTolerance 2s;
      }
    }
  }
}
.menu--vertical .menu--vertical .menu--vertical {
  // open up
  top: auto;
  bottom: 0;
}

.menu--vertical > li, .menu--horizontal > li, .dropdown {
  .dropDownMenuVertical();
}
.menu--vertical .menu--vertical {
  border-top-left-radius: 0 !important;
  li {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}
.dropdown {
  & > .menu--vertical {
    top: 100%;
    left: 0;
    .border;
    .softBorder();
  }
}

.dropdown {
  display: inline-block;
  &:before {
    .icon;
    content: "more_horiz";
  }
}
.dropdown--btn {
  .dropdown;
  .softBorder();
  &:before {
    .dropShadow(0.1rem);
  }
}

.menu--horizontal {
  & > li {
    & > .menu--vertical {
      top: 100%;
      left: 0;
    }
  }
}
.spacer ~ .menu--horizontal {
  & > li {
    & > .menu--vertical {
      top: 100%;
      left: auto;
      right: 0;
    }
  }
}

.menu--horizontal {
  & > li {
    & > .menu--vertical.open--left {
      top: 100%;
      left: auto;
      right: 0;
    }
  }
}

@media only screen and (max-width: @widthMobile) {
  .dropdown--on-mobile {
    .dropdown;
    position: absolute;
    z-index: 10;
    left:0;
    top:0;
  }
}


