.navbar {
  display: flex;
  margin: 0;
  padding: 0 @padding;
  position: relative;

  & > * {
    margin: 0;
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
  }
  & > h1, & > h2, & > h3, & > h4 {
    line-height: @lineHeight;
  }
  & > label, & > h1, & > h2, & > h3, & >h4 {
    .renderComponentWithoutBorder(@navbarHeight, @lineHeight);
  }
  & > *:not(.icon):not(.icon--round):not(.mi):not(:first-child) {
    margin-left: @padding;
  }
  & > .icon, & > .icon--round, & > .mi, & > .btn, & > .btn--icon, & > input, & > .select {
    margin-top: round(@navbarHeight - @baseWidgetHeight) / 2;
    margin-bottom: round(@navbarHeight - @baseWidgetHeight) / 2;
  }
  & > .mi {
    .oneCharSquare();
  }

}