.tag {
  border-radius: @absoluteLineHeight*0.6;
  background-color: @colorBorderDefault;
  display: inline-block;
  padding: 2px @paddingSmall;
  .icon {
    .fs-m;
    padding: 0;
    line-height: @absoluteLineHeight;
    width: 1em;
  }
  &, & a {
    text-decoration: none !important;
  }
}
.select {
  .tag {
    margin: -2px 0;
  }
}
table {
  .tag {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
  }
}