.tag {
  .renderComponentWithoutBorder(@lineHeight*1.2, @lineHeight);
  padding-left: @padding / 2;
  padding-right: @padding / 2;
  border-radius: @lineHeight*0.6;
  line-height: @lineHeight;
  background-color: @colorBorderDefault;
  display: inline-block;
  margin: 0.1em 0;
  .icon {
    .fs-m;
    padding: 0;
    line-height: @lineHeight;
    width: 1em;
  }
}