@import "_util/variables";

body {
  height: auto;
  min-height: 100%;
  padding: 2em;
}
article {
  margin-top: 2em;
  padding: 1em;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  & > * {
    color: black;
  }
  box-shadow: 0.5em 1em 0.5em rgba(0,0,0,0.2);
}