@rem: 12pt;


@colorRed: #F44336;
@colorPink: #E91E63;
@colorPurple: #9C27B0;

@colorText: #222;
@colorBackground: #fff;
@colorLink: #000;
@colorBorder: #aaa;

@baseWidgetHeight: 2.4rem;
@lineHeight: 1.2em;


@padding: 1rem;