html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.fit {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.fit--left {
  position: absolute;
  top:0;
  left:0;
}
.fit--right {
  position: absolute;
  top:0;
  right:0;
}
.relative {
  position: relative;
}

.renderMainPanel() {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}

.layout--sidebar {
  .fit;
  .flex--row;
  & > * {
    position: relative;
  }
  & > aside {
    //.dropShadowRight(0.2rem);
  }
  & > main {
    .renderMainPanel();
    .flex--grow;
  }

  &.responsive {
    @media only screen and (max-width: @widthMobile) {
      & > aside {
        position: absolute;
        right: calc(~"100% - " @padding);
        top:0;
        bottom:0;
        z-index: 1;
        border-right: 1px solid @colorGreySupport;
        &:after {
          .icon;
          content: "play_arrow";
          position: absolute;
          top:0;
          right: -@padding;
          background-color: @colorGreySupport;
          transform: scale(0.8);
          transform-origin: 0 0;
        }
        &:hover {
          left:0;
          right: auto;
          &:after {
            display: none;
          }
        }
      }
    }
  }

}


.layout--header {
  .fit;
  .flex--column;
  & > * {
    position: relative;
    & > *:last-child {
      margin-bottom: 0;
    }
  }
  & > header {
    //.dropShadowDown(0.2rem);
    //z-index: 1;
  }
  & > main {
    .renderMainPanel();
    .flex--grow;
  }
}