<!--

Hi there fellow developer!

Please note, most of the css classes here are pretty vital for this example. Be sure to use:

- fit and flex--column in wrapper
- flex--grow and flex--shrink in fnx-scroll-panel

-->
<div class="flex--column fit padding">

    <example-buttons-renderer name="cookbook/cookbook_table"></example-buttons-renderer>

    <p class="text--red">Please note the fixed footer at the bottom ...</p>

    <fnx-form (submit)="search = fulltext.value">
        <div class="flex--row margin--vertical">
            <fnx-text #fulltext class="flex--grow flex--shrink margin--right"></fnx-text>
            <button class="btn margin--small--right" (click)="search = fulltext.value">Search</button>
            <button type="reset" class="btn icon" [class.disabled]="search == null" (click)="search = null">cancel</button>
        </div>
    </fnx-form>

    <h5 *ngIf="search != null">Searching for '{{search}}':</h5>

    <fnx-scroll-panel class="flex--grow flex--shrink margin--bottom" (loadMore)="loadMore()">
        <table>
            <tr *ngFor="let row of list">
                <td>{{row["id"]}}</td>
                <td>{{row["name"]}}</td>
                <td>{{row["email"]}}</td>
            </tr>
        </table>
    </fnx-scroll-panel>

    <p class="text--red">Fixed footer here, thank you ... lorem ipsum.</p>

</div>