<example-buttons-renderer name="example_testing"></example-buttons-renderer>

<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita quaerat quo reiciendis suscipit velit voluptatibus! Adipisci, at expedita iste magni minus nisi porro provident quas rerum sit velit veniam voluptates.</p>


    <ul class="ul--flat margin--vertical" reorderContainerVertical (reorder)="doReorder($event)" >
        <li reorderItem *ngFor="let item of reorderItems" class="item">{{item}}</li>
    </ul>

    <div class="margin--vertical" reorderContainerHorizontal (reorder)="doReorder($event)" >
        <p style="float: left;" reorderItem *ngFor="let item of reorderItems" class="padding--big">{{item}}</p>
    </div>

    <br style="clear: both">

    <fnx-form>

        <p>
            bez
            <fnx-text [required]="true" [(ngModel)]="user['name']" autoFocus></fnx-text>
            labelu
        </p>

        <p>
            <fnx-input label="S wrapperem" errorMessage="Toto je povinna hodnota!">
                <fnx-text [required]="true" [(ngModel)]="user['name']"></fnx-text>
            </fnx-input>
        </p>
        <p>
            <fnx-input label="Napravo" errorMessage="Toto je povinna hodnota!">
                <fnx-text [required]="true" [(ngModel)]="user['name']" class="text--right" placeholder="Jmeno"></fnx-text>
            </fnx-input>
        </p>
        <p>
            <fnx-input label="Shoe size" errorMessage="Please provide a valid shoe size">
                <fnx-int [(ngModel)]="shoeSize" [min]="35" [max]="48.5"></fnx-int>
            </fnx-input>
        </p>

        <p>
            <fnx-input label="What is the airspeed velocity of an unladen swallow?"
                       errorMessage="You have to know these things when you're a king, you know">
                <fnx-double [(ngModel)]="velocity" [min]="99" [max]="199.9"></fnx-double>
            </fnx-input>
        </p>


        <p>
            <fnx-check label="Zaskrtni me" [(ngModel)]="user['dead']"></fnx-check>
        </p>
        <p>
            <fnx-input label="Je mrtev?" errorMessage="Zive nebereme!">
                <fnx-check [required]="true" [(ngModel)]="user['dead']" [disabled]="true"></fnx-check>
            </fnx-input>
        </p>

        <fnx-input label="Jakou ma naladu?">
            <fnx-select [(ngModel)]="user['mood']" [ngFormControl]="mood" [multi]="true">
                <fnx-option *ngFor="let i of moods"
                            label="{{i['name']}}" [value]="i['id']"></fnx-option>
            </fnx-select>
        </fnx-input>


        <fnx-input label="Areja" errorMessage="Toto je povinna hodnota!">
            <fnx-textarea [required]="true" [(ngModel)]="user['name']"></fnx-textarea>
        </fnx-input>

        <div class="row--gutter">
            <div class="s12 l4">
                <fnx-input label="date of birth">
                    <fnx-date [dateTime]="true" [(ngModel)]="user['birthday']"></fnx-date>
                </fnx-input>
            </div>
            <div class="s12 l4">
                <fnx-input label="date of birth - for sure">
                    <fnx-date [dateTime]="true" [(ngModel)]="user['birthday']"></fnx-date>
                </fnx-input>
            </div>
            <div class="s12 l4">
                <fnx-input label="date of death">
                    <fnx-date [dateTime]="true" [(ngModel)]="user['deathday']"></fnx-date>
                </fnx-input>
            </div>
        </div>

        <!--
        <fnx-input label="Account balance" errorMessage="Please enter your account balance (max 3 decimals)">
            <fnx-text [(ngModel)]="user['accountBalance']" type="decimal" [decimals]="3"></fnx-text>
        </fnx-input>

        <fnx-input label="date of birth">
            <fnx-file [(ngModel)]="user['file']"></fnx-file>
        </fnx-input>
        -->

        <fnx-input label="Wysiwyg rich">
            <fnx-wysiwyg-rich [(ngModel)]="user['wysiwyg_poor']" [imagePicker]="dumbImagePicker" [required]="true"></fnx-wysiwyg-rich>
        </fnx-input>

        <fnx-input label="Wysiwyg rich 2">
            <fnx-wysiwyg-rich [(ngModel)]="user['wysiwyg_poor']" height="15em" maxWidth="25em"></fnx-wysiwyg-rich>
        </fnx-input>

        <fnx-input label="Wysiwyg poor">
            <fnx-wysiwyg-poor [(ngModel)]="user['wysiwyg_poor']" [required]="true"></fnx-wysiwyg-poor>
        </fnx-input>

        <fnx-submit-bar [back]="true"></fnx-submit-bar>

    </fnx-form>

    <p>{{user}}</p>
    <p>{{shoeSize}}</p>
    <p>{{velocity}}</p>

</div>
