.renderComponentWithoutBorder(@widgetHeight, @widgetLineHeight) {
  //padding-left: @padding;
  //padding-right: @padding;
  padding-top: calc(round(@widgetHeight / 2) ~" - " round(@widgetLineHeight / 2) );
  padding-bottom: calc(round(@widgetHeight / 2) ~" - " round(@widgetLineHeight / 2) );
}

.renderComponentWithBorder(@widgetHeight, @widgetLineHeight) {
  //padding-left: @padding;
  //padding-right: @padding;
  padding-top: calc(round(@widgetHeight / 2) ~" - " round(@widgetLineHeight / 2) ~" - 1px");
  padding-bottom: calc(round(@widgetHeight / 2) ~" - " round(@widgetLineHeight / 2) ~" - 1px");
}